%h2 Transforming the Culture of Violence

%p Domestic Violence is a “men’s issue” that affects everyone.

#fb-root

.facts.row
  .large-9.columns
    %ul
      %li
        %span.fact{'data-tooltip' => true,
          'data-options' => "disable_for_touch:true",
          'class' => "has-tip tip-right",
          'title' => "Strauss, Gelles, and Smith, “Physical Violence in American Families: Risk Factors and Adaptations to Violence” in 8,145 Families. Transaction Publishers (1990)."}
          Boys who witness domestic violence are twice as likely to become abusers.

      %li
        %span.fact{'data-tooltip' => true,
          'data-options' => "disable_for_touch:true",
          'class' => "has-tip tip-right",
          'title' => "Costs of Intimate Partner Violence Against Women in the United States. 2003. Centers for Disease Control and Prevention, National Centers for Injury Prevention and Control. Atlanta, GA."}
          The cost of intimate partner violence exceeds
          $5.8 billion each year, $4.1 billion for health services.

      %li
        %span.fact{'data-tooltip' => true,
          'data-options' => "disable_for_touch:true",
          'class' => "has-tip tip-right",
          'title' => "Costs of Intimate Partner Violence Against Women in the United States. 2003. Centers for Disease Control and Prevention, National Centers for Injury Prevention and Control. Atlanta, GA.  Tjaden, Patricia & Thoennes, Nancy."}
          Intimate partner violence causes 18.5
          million mental health consultations each year.

    %pledge
      To end domestic violence we need to transform our culture. We need
      leaders who speak up against others who disrespect and mistreat women
      and children. We need leaders to be role models of correct behavior in
      our communities.

      %br/
      Be a leader. Take the pledge. End Domestic Violence.

.pledge.row.panel
  %h3.medium-12.columns
    %a{name: 'the-pledge'} The Pledge
  .medium-7.columns
    %ul
      %li I pledge to treat women and children with honor and respect.
      %li I pledge to speak out against those who disrespect others.
      %li I pledge to educate myself on anger management.
      %li I pledge to learn and use fair fighting techniques.
      %li I believe that I can lead by taking this pledge.


  .medium-5.columns
    %div#pledge1{class: 'button pledge radius round', style:'display:block' }
      <fb:login-button show-faces="true" size="xlarge" perms="email" max-rows="1">Take the Pledge</fb:login-button>
    %a#give1{class: 'button pledge radius round', onclick:"$('#give_modal').foundation('reveal', 'open'); ", style:'display:none '} Give and Get

#give_modal.give-and-get.reveal-modal{'data-reveal' => true}
  %h3 Give & Get
  .card.row

    .medium-7.columns

      .card
        = image_tag 'giftcard.png'
        .type Gift Card for Clothes
        .type-description Survivors often leave their homes with nothing but the clothes on their back.

    .ask.medium-4.columns

      %p
        Give a gift card for a survivor and get a wrist band.
      %p
        Domestic violence survivors often leave with nothing and need economic support to rebuild their lives.
        Give a gift card to support them through the transition.
      %p
        The wrist band is not only another great way to show leadership: it is also a
        conversation starter. The purple color is universally used for
        domestic violence. The message "I Pledged" is printed on the outside
        and "Be A Leader" is printed on the inside allowing you to display
        either message. Wearing it acts as a constant reminder of your pledge
        to be a leader.

        Procedes go to
        %a{href: 'http://www.jadensladder.org/'} Jaden's Ladder
        and
        %a{href: 'http://www.peacehouse.org/'} Peace House.

  .wristband.row

    .medium-7.columns

      = image_tag 'wristband.png'

    .medium-4.columns

      %p
        %a{href: '', id: 'give-and-get-button', class: 'button pledge radius round'} Give & Get

  %a.close-reveal-modal &#215;

#success_dialog.give-and-get-success.reveal-modal{'data-reveal' => true}
  .row
    %p
      %span{class:"ui-icon ui-icon-circle-check", style:"float:left; margin:0 7px 50px 0;"}
    %h3 Thanks for leading with your wallet!
  .row
    .small-6.columns
      %p
        The
        %a{href: 'http://www.jadensladder.org/'} Jaden's Ladder
        and
        %a{href: 'http://www.peacehouse.org/'} Peace House
        are very thankful for your donation.
      %p
        We hope that you enjoy wearing your wrist band as a sign of your leadership on domestic violence.
    .small-6.columns
      %p
        = image_tag 'wristband.png'

#failure_dialog.give-and-get-success.reveal-modal{'data-reveal' => true}
  .row
    %p
      %span{class:"ui-icon ui-icon-circle-check", style:"float:left; margin:0 7px 50px 0;"}
    %h3 Oh no! Something went wrong!
  .row
    %p
      Thanks for trying to lead with your wallet. Were really sorry, but something went wrong. Please try again later.

.next-steps
  %div
    %h3 Learn More

    %dl.tabs{'data-tab' => true}
      %dd{class: 'active'}
        %a{href: '#leading'} Being a Leader
      %dd
        %a{href: '#anger_management'} Anger Management
      %dd
        %a{href: '#fair-fighting'} Fair Fighting
    .tabs-content
      #leading.content.active
        %p
          Disrespectful language and actions perpetuates a culture in which these
          actions are acceptable. By changing them we can change the culture.

        %p
          Be a leader and role model for your children and others. They are
          watching you. Use your powerful influence to model respect for
          others to your sons and daughters, other children in your
          neighborhood, and even other men and women.

        %p
          Demonstrate that women are to be valued for more than their
          physical appearance or beauty in what you say and do.
          Show that character, integrity,
          and feminine approaches to problems are valuable. Be willing to
          confront your children about improper behavior that you see.

        %p
          Be a Leader.
          %a{href:'http://lancaster.unl.edu/family/parenting/model_537.shtml'} Learn Even More.

      #anger_management.content
        %p
          Anger is a normal human emotion.  It is an adaptive response to
          threats and evolved to help us defend ourselves when we are
          attacked. Anger is accompanied by physiological and biological
          changes including increases in heart rate and blood pressure, and
          the release of powerful emotional hormones like adrenaline, and
          noradrenaline.

        %p
          But when it gets out of control it can become destructive and lead
          to violence. It can also make you feel a prisoner to unpredictable,
          powerful emotions.

        %p
          It is possible to learn techniques to help you take controll
          of your anger, and prevent it from escalating to violence.

        %p
          Be a Leader.
          %a{href: 'http://www.ucdmc.ucdavis.edu/hr/hrdepts/asap/anger.html'} Learn Even More.

      #fair-fighting.content
        %p
          In any relationship, conflict is inevitable. How anger
          is expressed is a learned behavior, and thus can be changed.

        %p
          In an unfair fight, tempers flare, voices are raised, and insults
          are exchanged. Bitterness, distrust, resentment, and loss of
          intimacy often result and lead to more arguments.

        %p
          Fair fights resolve confrontations without these negative
          repercussions. Active listening and a
          collaborative attitude allow differences to be negotiated. Fair
          fights clear up problems and increase intimacy by increasing
          understand between partners.

        %p
          Be a Leader.
          %a{href:'http://ub-counseling.buffalo.edu/fighting.shtml'} Learn Even More.
