%h2 Shifting the Culture of Violence

%p Domestic Violence is a men’s issue that affects everyone.

.facts.row
  .large-8
    %ul
      %li
        Boys who witness domestic violence are twice as likely to become abusers.
        %span.footnote{style: "display:none"}
          Strauss, Gelles, and Smith, “Physical Violence in American
          Families: Risk Factors and Adaptations to Violence” in 8,145
          Families. Transaction Publishers (1990).

      %li
        The cost of intimate partner violence exceeds
        $5.8 billion each year, $4.1 billion for health services.
        %span.footnote{style: "display:none"}
          Costs of Intimate Partner Violence Against Women in the United
          States. 2003. Centers for Disease Control and Prevention,
          National Centers for Injury Prevention and Control. Atlanta, GA.

      %li
        Intimate partner violence causes 18.5
        million mental health visits each year.
        %span.footnote{style: "display:none"}
          Costs of Intimate Partner Violence Against Women in the United
          States. 2003. Centers for Disease Control and Prevention, National
          Centers for Injury Prevention and Control. Atlanta, GA.  Tjaden,
          Patricia & Thoennes, Nancy.

    %p
      Domestic Violence affects everyone.
      In order to end domestic violence we need to shift our culture.
      We need leaders who can speak up against others who are disrespecting and mistreatment women and children.
      We need leaders to be role models of correct behavior in our communities.
      %br/
      Be a leader. Take the pledge. End Domestic Violence.

  .pledge.row
    %h3 The Pledge
    .medium-6.columns
      %ul
        %li I pledge to treat women and children with honor and respect.
        %li I pledge to speak out against those who do not.
        %li
          I pledge to educate myself and others on anger management and fair fighting techniques.
        %li I believe that I can lead by taking this pledge.

    .medium-6.columns
      %a{href: '', class: 'button pledge radius round'} Take the Pledge


  .next-steps.row
    .medium-6.medium-push-6.columns
      %h3 Get the Wristband
      = image_tag('wristband.png')
    .medium-6.medium-pull-6.columns
      %h3 Learn More

      %dl.accordion{'data-accordion' => true}
        %dd
          %a{href: '#respecting_women'} Respecting Women and Children
          #respecting_women.content

            %p

              Disrespectful language and actions perpetuates a culture of
              acceptability. By shifting our language we can shift the culture.

            %p

              Be a leader and role model for your children. They are watching you.
              Use your powerful influence to model respect for others to
              your sons and daughters, other children in your neighborhood, and
              even other men and women.

            %p

              Demonstrate that women are to be valued for more than physical
              aspects in what you say and do. Show that character, integrity,
              and feminine approaches to problems are valuable. Be willing to
              confront your children about improper behavior that you see.

            %p
              %a{href:'http://lancaster.unl.edu/family/parenting/model_537.shtml'} Learn More

        %dd
          %a{href: '#anger_management'} Anger Management
          #anger_management.content

            %p

              It is important to realize that anger is a completely normal
              human emotion.  But when it gets out of control it can become
              destructive and lead to violence. It can also make you feel a
              prisnor to unpredictable, powerful emotions.

            %p

              Anger is a natural, adaptive response to threats and evolved to
              help us fight and to defend ourselves when we are
              attacked. Anger is accompanied by physiological and biological
              changes including increases in heart rate and blood pressure,
              and the release of powerful emotional hormones like adrenaline,
              and noradrenaline.

            %p

              It is possible to learn techniques to help you take controll
              of your anger, and prevent it from escalating to violence.

            %p
              %a{href: 'http://www.ucdmc.ucdavis.edu/hr/hrdepts/asap/anger.html'} Learn More
        %dd
          %a{href: '#fair-fighting'} Fair Fighting
          #fair-fighting.content

            %p

              In any relationship, conflict is inevitable. How anger
              is expressed is a learned behavior, and thus can be changed.

            %p

              In an unfair fight, tempers flare, voices are raised, and
              insults are exchanged. This often ends with bitterness,
              distrust, resentment, and loss of intimacy, leading to more
              arguments.

            %p

              Fair fights resolve confrontations without these negative
              repurcussions. The skills of active listening and a
              collaborative attitude allows differences to be negotiated. Fair
              fights clear up problems and increase intimacy by increasing
              understand between partners.

            %p
              %a{href:'http://ub-counseling.buffalo.edu/fighting.shtml'} Learn More
