%h1 Be a Leader
%h1
  %a#pledge-button{:href => "#"} Take the Pledge

%h1 End Domestic Violence

%h3 Shifting the Culture of Violence
Domestic Violence is a men's issue that affects everyone.
.facts
  %ul
    %li
      Boys who witness domestic violence are twice as likely to abuse
      their own partners and children when they become adults.
      %span.footnote{:style => "display:none"}
        Strauss, Gelles, and Smith, “Physical Violence in American
        Families: Risk Factors and Adaptations to Violence” in 8,145
        Families. Transaction Publishers (1990).
    %li
      The cost of intimate partner violence exceeds
      $5.8 billion each year, $4.1 billion of which is for
      direct medical and mental health services.
      %span.footnote{:style => "display:none"}
        Costs of Intimate Partner Violence Against Women in the United
        States. 2003. Centers for Disease Control and Prevention,
        National Centers for Injury Prevention and Control. Atlanta, GA.
    %li
      Intimate partner violence results in more than 18.5
      million mental health care visits each year.
      %span.footnote{:style => "display:none"}
        Costs of Intimate Partner Violence Against Women in the United
        States. 2003. Centers for Disease Control and Prevention, National
        Centers for Injury Prevention and Control. Atlanta, GA.  Tjaden,
        Patricia & Thoennes, Nancy.
  %p
    In order to end domestic violence we need leaders who can take an
    active stance against the use of sexist language and domestic
    violence, by speaking against others who do so.
  %p
    We also need to educate ourselves about anger management and fair fighting
    techniques, to prevent arguments from escalating to violence.
  .pledge
    %h3 The Pledge
    %ul
      %li I pledge to treat women and girls with honor and respect.
      %li I pledge to speak out against those who do not.
      %li
        I pledge to educate myself and others on anger management and fair fighting techniques.
        %br/
      %li I believe that I can lead  by taking this pledge.
  %h3 Learn More
  %h4 Sexist Language
  %h4 Anger Management
  %h4 Fair Fighting
